* {
  box-sizing: border-box;
}

img {
  height: auto;
  width: 150px;
}

.container-location{
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.location {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  cursor: pointer;
}

.location div {
  text-align: center;
  font-size: 15px;
}

@media screen and (max-width: 1150px) {
  img {
    height: auto;
    width: 100px;
  }
  .container-location{
    height: 100px;
    width: 100px;
  }

  .location {
    padding: 5px;
  }

  .location div{
    font-size: 10px;
  }
}

@media screen and (max-width: 425px) {
  img {
    height: auto;
    width: 50px;
  }

  .container-location{
    height: 50px;
    width: 50px;
  }

  .location {
    padding: 5px;
    gap: 5px;
  }
}
