* {
    box-sizing: border-box;
  }

img {
    height:150px;
    width: 150px;
  }
  
.location {
  padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    cursor: pointer;
}
  
.location div {
    text-align: center;
}


