<div class="player-item">
  <div class="info">
    <img src="{{ player.image }}" alt="" />
    <div class="point">
      <span class="username">{{ player.username }}</span>
      <span class="pointChart"></span>
    </div>
  </div>
  <div class="credibility">
    <span class="credText">Crédibilité : {{ playerInfo.credibility }}</span>
    <mat-progress-bar
      mode="determinate"
      value="{{ playerInfo.credibility }}"
      color="primary"
      class="progressBar"
    ></mat-progress-bar>
  </div>
</div>
