*{
    box-sizing: border-box;
}


.listLocation {
  margin-top: 8px;
  display: flex;
  width: 70%;
  height: 1000px;
  overflow-y: scroll;
  flex-wrap: wrap;
}

.location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #ccc;
  margin-right: 50px;
  margin-bottom: 50px;
  padding: 5px;
  cursor: pointer;
}

.location.selected {
  border-color: #000000;
}

.location.available{
  filter : grayscale(100%);
}

.location img {
  width: 200px;
  height: 200px;
}
