*{
    box-sizing: border-box;
}
.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  border: solid 2px royalblue;
  
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.listLocation {
  display: flex;
  flex: 1;
  padding: 5px;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 100%;
  list-style: none;
}

.listContinent {
  min-height: 20%;
  display: flex;
  flex: 1;
  padding: 5px;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 100%;
  list-style: none;
}

.location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #ccc;
  margin-right: 50px;
  margin-bottom: 50px;
  padding: 5px;
  cursor: pointer;
}

.continent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid #ccc;
  margin-right: 50px;
  margin-bottom: 50px;
  padding: 5px;
  cursor: pointer;
}

.location.selected {
  border-color: #000000;
}

.location.available{
  filter : grayscale(100%);
}


.continent.selected{
  color : blue;
}
