.news-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    width: 99%;
    border: 2px solid #b35353;
    border-radius: 5px;
}

.new{
    width: 80%;
}

.button{
    width: 20%;
}