<h1 mat-dialog-title>Infos de {{user.username}}</h1>
<mat-divider></mat-divider>
<div class="user">
  <div class="title">News en cours de traitement</div>
  <div *ngFor="let news of user.newsProcessing">
    <div class="enCours" *ngIf="news.new">
      <div class="newNew">{{ news.new }}</div>
      <mat-progress-bar
        mode="determinate"
        value="{{ news.score }}"
        color="primary"
        class="progressBar"
      ></mat-progress-bar>
      <div class="actions">
        <button mat-raised-button (click)="traiter(news)" mat-dialog-close>
          Traiter la news
        </button>
        <button mat-raised-button (click)="publier(news)" mat-dialog-close>
          Publier la news
        </button>
        <button mat-raised-button (click)="terminer(news)" mat-dialog-close>
          Terminer la news
        </button>
      </div>
    </div>
  </div>
  <div class="title">News déjà traitées</div>
  <div *ngFor="let new of user.newsProcessed" class="new">
    <span class="oldNew">{{ new.new }}</span> <span class="gain" title="Véracité finale"> {{ new.credit }}% </span>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button [mat-dialog-close]="true">Fermer</button>
</div>
