.user{
    display: flex;
    flex-direction: column;
    height: 78%;
    width: 100%;
    justify-content: start;
    overflow-y: scroll;
}

.new{
    height: 40px;
    width: 100%;
    background-color: rgb(97, 129, 129);
}

.gain{
    margin-left: 15px;
    font-size: larger;
    font-weight: 500;
    color: rgb(17, 76, 17);
    padding: 5px;
}

mat-progress-bar {
    height: 15px;
    border-radius: 10px;
}