* {
  box-sizing: border-box;

}.continent {
  margin: 5px 15px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}

.continent div {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}
