* {
  box-sizing: border-box;

}.continent {
  margin: 5px 15px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}

.continent div {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

@media screen and (max-width: 1150px) {
  .continent {
    margin: 5px;
  }

  .continent div{
    font-size: 25px;
  }
}

@media screen and (max-width: 425px) {
  .continent {
    padding: 5px;
    margin: 0px;
    gap: 0px;
  }

  .continent div{
    font-size: 12px;
  }
}