/* You can add global styles to this file, and also import other style files */
.player-list .selected .player-item {
  border-color: rgb(0, 255, 47);
  background-color: rgb(0, 255, 47);
}

.player-item .mdc-linear-progress__bar-inner {
  height: 15px;
  border: 0;
  background-color: #6200ee;
}

.news .mdc-linear-progress__bar-inner {
  height: 15px;
  border: 0;
  background-color: #00ee2c;
}

.enCours .mdc-linear-progress__bar-inner {
  height: 15px;
  border: 0;
  background-color: #00ee2c;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Special Elite', cursive;
  background: linear-gradient(to bottom, #fff, #7d7b7b);
}

*{
  font-family: 'Special Elite', cursive;
}

button *{
  font-family: 'Electrolize', sans-serif;
}

b{
  font-size: large;
}