<h1 mat-dialog-title>Actions Possibles</h1>
<mat-divider></mat-divider>
<mat-dialog-content>
  <div class="actions" *ngFor="let action of actions" [ngClass]="{ 'dark-background': isActionDone(action) }">
    <div class="desc">{{ action.actor }}</div>
    <div class="action">
      <span title="Coût" *ngIf="this.data.simple">{{ action.cout }}</span>
      <span title="Coût" *ngIf="!this.data.simple">{{ action.cout + 1 }}</span>
      <button
        class="actionBtn"
        mat-raised-button
        *ngIf="this.data.simple"
        (click)="faireAction(action)"
        mat-dialog-close
        [disabled]="isActionDone(action)"
      >
        Faire
      </button>
      <button
        class="actionBtn"
        mat-raised-button
        *ngIf="!this.data.simple"
        (click)="faireInterrogation(action)"
        mat-dialog-close
        [disabled]="isActionDone(action)"
      >
        Interroger
      </button>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button [mat-dialog-close]="true">Fermer</button>
</mat-dialog-actions>
